

.App {
  position: relative;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.timer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.app-title {
  color: white;
  font-size: 3em;
  margin-bottom: 20px;
}
